<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqlkcfnrqOiShYO8qTh_vKD9mD2aFLKMQ</string>
	<key>BUNDLE_ID</key>
	<string>com.iomprayertimes</string>
	<key>GCM_SENDER_ID</key>
	<string>111581192358</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:111581192358:ios:288b660493d124fbca5467</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>iompt-f5b68</string>
	<key>STORAGE_BUCKET</key>
	<string>iompt-f5b68.firebasestorage.app</string>
</dict>
</plist>
